<?xml version="1.0"?>
<credentials>		
		<csvFile>PATH_TO_CONTACT_LINKEDIN.csv</csvFile> <!-- For Windows use \\ instead of \ -->
		<name>Sender Name (Applicant)</name>
		<currentCompany>XYZ</currentCompany> <!-- So that it wont send that mail to your current company h.r-->
		<userid>GMAIL-ID</userid>
		<password>PASSWORD</password>
		<subject>Resume for ZZZ and ZZZ Development Profile Having Y.Z+ years of Experience</subject>
		<message>Please find below details,
		Total Yrs of Exp. Y.Z+ years 
		Relevant EXP: Y.Z+ years
		Current Company : YYY  
		Education: B.E 
		CTC : X LPA 
		EXP : X+ LPA 
		Notice period: 60 Days 
		Reasons for change: Looking for new opportunity </message> <!-- You can edit it any way -->
		<attachement>PATH_TO_Resume.pdf</attachement> <!-- For Windows use \\ instead of \ -->
</credentials>